<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>VeryDark</key>
		<string>#253237</string>
		<key>Dark</key>
		<string>#5C6B73</string>
		<key>Medium</key>
		<string>#9DB4C0</string>
		<key>Light</key>
		<string>#C2DFE3</string>
		<key>VeryLight</key>
		<string>#E0FBFC</string>
	</dict>
	<key>Geometry</key>
	<dict>
		<key>NoteEditController</key>
		<dict>
			<key>TextViewInset</key>
			<dict>
				<key>bottom</key>
				<integer>20</integer>
				<key>right</key>
				<integer>20</integer>
				<key>top</key>
				<integer>120</integer>
				<key>left</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>NotesController</key>
		<dict>
			<key>Message</key>
			<dict>
				<key>height</key>
				<integer>200</integer>
			</dict>
			<key>NotesCellInset</key>
			<dict>
				<key>bottom</key>
				<integer>10</integer>
				<key>right</key>
				<integer>10</integer>
				<key>top</key>
				<integer>10</integer>
				<key>left</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>LanguagesController</key>
		<dict>
			<key>ButtonsTopOffset</key>
			<integer>100</integer>
			<key>ButtonsWidth</key>
			<integer>140</integer>
			<key>ButtonsHeight</key>
			<integer>46</integer>
			<key>ButtonsSpace</key>
			<integer>30</integer>
			<key>ButtonsCheckMarkWidth</key>
			<integer>20</integer>
			<key>ButtonsCheckMarkHeight</key>
			<integer>20</integer>
			<key>ButtonsCheckMarkLeftOffset</key>
			<integer>5</integer>
			<key>ButtonsCheckMarkRightOffset</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>NetworkDataSource</key>
	<dict>
		<key>Host</key>
		<string>jsonplaceholder.typicode.com</string>
		<key>Scheme</key>
		<string>https</string>
	</dict>
</dict>
</plist>
